
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="theme-color" content="#0066aa">
	<link rel="icon" href="<%= BASE_URL %>images/favicon.png">
	<link id="theme-link" rel="stylesheet" href="<%= BASE_URL %>themes/viva-light/theme.css">
	<link id="custom-css-link" rel="stylesheet" href="<%= BASE_URL %>custom-styles.css">
	<title>test</title>
</head>
	<body>
		<div id="app">
			<div class="preloader">
				<div class="preloader-content">
				</div>
			</div>
		</div>
	</body>
</html>

